body {
    font-family: "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    margin: 5% 20% 5% 20%;
    padding: 2% 5% 5% 5%;
    width: 50%;
    line-height: 150%;
    border: 1px solid LightGrey;
}